/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: rgb(238, 235, 235);
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .about-top {
    background-image: url(/images/galaxy-background.jpg)
  }
  .about text{
    color: white;
  }

  .flex-container {
    display:flex
  }