/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: rgb(238, 235, 235);
  }
  


  .about-top {
    background-image: url(/images/galaxy-background.jpg)
  }
  .about-text{
    color: white;
    text-align: right
    ;
  }

  .flex-container {
    display:flex
  }

  .about-header {
    background-image: url('/images/pexels-felix-mittermeier-2832084.jpg');
    height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .about-button{
     cursor: pointer;
     background-color:white;
     color: blueviolet;
     border: none;
     font: size 20px;;
     cursor: pointer;
     position: absolute;
     margin: 30px;
     
   }
    
    ;
  }