* {
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

/* Elements */

footer {
  background-color: #292c31;
  padding: 60px 0;
  color: #62656a;
}

footer h5 {
  color: #aeb3bd;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
}

footer p {
  font-size: 12px;
  font-weight: 300;
  color: #62656a;
  text-align: justify;
  padding: 0px;
}

footer li {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.05em;
  line-height: 1.5;
  margin-bottom: 10px;
}

footer a {
  color: #62656a;
}

footer a:hover {
  color: #4b95a3ff;
  text-decoration: none;
}

footer i {
  font-size: 25px;
  color: #62656a;
  margin-right: 10px;
}

footer i:hover {
  color: #4b95a3ff;
}

footer small {
  color: #62656a;
  float: right;
}

/* Classes */

.frog-2 {
    width: 400px;
}

.review-img {
    width: 70px;
border-radius: 50%;
}

.card-review {
    background-color: whitesmoke;
    border-radius: 10pt;
    margin: 10px;
    padding: 5px;
}

.mid-page {
    background-color: rgb(156, 217, 197);
    padding-bottom: 20pt;
}

  
.external-links {
  color: orange;
}
  
/* Id's */